body {
    margin: 0 auto;
    padding: 20px;
    max-width: 750px;
}

.header img {
    float: right;
    width: 70px;
    height: 70px;
}

#slider-warning{
    visibility: hidden;
}

.instruction {
    text-align: center;
    margin: 0 0 60px 0;
}
